<%- include("../layout/layout", { body: `
<h1>Categories</h1>

<a href="/category/create" class="btn">Create New</a>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>

    ${categories.map(c => `
        <tr>
            <td>${c._id}</td>
            <td>${c.name}</td>
            <td>
                <a href="/category/edit/${c._id}">Edit</a>
            </td>
        </tr>
    `).join("")}
</table>

` }) %>
