<header>
    <nav>
        <a href="/category">Category</a>
        <a href="/product">Products</a>
        <a href="/supplier">Suppliers</a>
        <a href="/users">Users</a>
        <a href="/order">Orders</a>
        <a href="/inventory">Inventory</a>
    </nav>
</header>
