<!DOCTYPE html>
<html>
<head>
    <title>Stock Management</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include("layout/header") %>

    <main>
        <%- body %>
    </main>

    <%- include("layout/footer") %>

</body>
</html>
